.grid{
    display: grid;
    grid-template-areas:  
    "cabecera cabecera cabecera"
    "c2 c3 c4"
    "c2 c5 c6";
}

.contenedor{
    background-color: rgb(122, 116, 152);
    text-align: center;
    color: white;
    margin: 3px;
    padding: 10px;
}

.cabecera {grid-area: cabecera;}
.c2 {grid-area: c2;}
.c3 {grid-area: c3;}
.c4 {grid-area: c4;}
.c5 {grid-area: c5;}
.c6 {grid-area: c6;}
