.zi-5{
    z-index: 5;
}

.zi-10{
    z-index: 10;
}

.visibility-hidden{
    visibility: hidden;
}

.visibility-visible{
    visibility: visible;
}

.overflow-y{
    width: 700px;
    height: 100px;
    overflow-y: auto;
    background-color: blueviolet;
}

.overflow-x{
    width: 100px;
    height: 200px;
    overflow-x: auto;
    background-color: aqua;
}

.overflow-auto{
    width: 100px;
    height: 100px;
    overflow: auto;
    background-color: saddlebrown;
}