* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: Courier;
  font-size: 12px;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  text-shadow: 2px 2px 5px blue;
  word-spacing: 5px;
}

a:link {
  color: gray;
}

a:visited {
  color: red;
  font-weight: bold;
  text-decoration: underline double;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: darkred;
}
