body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 140px;
    border: 1px solid #FFC83D;
}

.menu li{
    border-bottom: 1px solid #FFC83D;
}

.menu li:last-child{
    border-bottom: none;
}

.menu li a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding: 5px;
    background-color: #E5F3FE;
    content:  ;
}

.menu li a:hover{
    background-color: #c8e2f7;
}

.menu li a::before{
    content: '👉';
}
