:root{
    --body-color: #f0f0f0;
    --header-background: #007bff;
    --main-backgorund: #28a745;
    --ad--background: #6c757d;
    --aside-background: yellow;
    --footer-background: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    color: var(--body-color);
}

header{
    grid-area: header;
    background-color: var(--header-background);
    padding: 20px;
    text-align: center;
}

header .titulo{
    margin: 20px 0 20px 0;
}

header nav {
    margin: 20px 0 10px 0;
    display: grid;
    justify-items: end;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 0.2fr);
}

header nav a {
    color: white;
}

main{
    background-color: var(--main-backgorund);
    grid-area: main;
    padding: 20px;
    margin: 2px 2px 2px 0 ;
}

aside{
    grid-area: aside;
    display: grid;
    justify-content: center;
    gap: 5px;
    background-color: var(--aside-background);
    padding: 20px;
    margin: 2px 0 2px 2px ;
}

aside article {
    background-color: var(--ad--background);
    padding: 20px;
    text-align: center;
    width: 500px;
}


footer{
    text-align: center;
    grid-area: footer;
    background-color: var(--footer-background);
    padding: 20px;
}


@media screen and (max-width: 800px) {
    body {
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    }
    aside article{
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    body{
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    main{
        height: 500px;
    }
    aside {
        display: none;
    }
}
